@model string

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style>
        .alert {
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 1050;
            display: none;
            opacity: 0.9;
        }

        .alert-success {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            font-size: 16px;
            border: 1px solid #badbcc;
            background-color: #d1e7dd;
            color: #0f5132;
            border-radius: 5px;
            max-width: 20rem;
        }

        .alert-success i {
            color: #198754; /* Success green */
            font-size: 20px;
        }

        .btn-close {
            border: none;
            background: transparent;
            font-size: 18px;
            color: #0f5132;
            margin-left: 20px;
        }

    </style>
</head>
<body>
    <div id="successAlert" class="alert alert-success alert-dismissible fade show align-items-center d-flex" role="alert">
        <i class="fas fa-check-circle mr-3"></i>
        <span>@Model</span>
        <button type="button" class="btn-close mr-auto" data-bs-dismiss="alert" aria-label="Close">
            <i class="fa-solid fa-xmark" style="color: #9da0a4;"></i>
        </button>
    </div>
</body>
</html>
