@using Microsoft.AspNetCore.Identity
@using LibraryManagementSystem.Models
@inject SignInManager<Member> SignInManager
@model DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BookNest</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Example for Font Awesome v6 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                        </a>
                    }
                </div>

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <partial name="~/Views/Dashboard/_AdminDashboard.cshtml" model="@Model" />

                }
                else if (SignInManager.IsSignedIn(User) && User.IsInRole("Client"))
                {
                    <partial name="~/Views/Dashboard/_ClientDashboard.cshtml" model="@Model" />
                }
            </div>
            <!-- End of Page Content -->
        </div>
        <!-- End of Main Content -->
    </div>
</body>
</html>